In [14]:
import json
import pandas as pd
import os
from pymongo import MongoClient
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
chats = pd.read_json("./chats.json")

In [4]:
chats.head()

,idUser,userName,idMessage,idChat,datetime,text
0,0,John Wick,0,0,2019-10-17 10:15:41,"Hey Mike, whats up??"
1,1,Mike Wazowski,1,0,2019-10-17 10:16:59,Dude!!! üòÄÔ∏è Did you watch the game last night?
2,0,John Wick,2,0,2019-10-17 10:17:31,"No, had to work. How was it?"
3,1,Mike Wazowski,3,0,2019-10-17 10:18:41,Awesome! Boyander scored 3 goals!
4,0,John Wick,4,0,2019-10-17 10:19:41,No way! üòÆÔ∏è

In [5]:
users = chats[['idUser','userName']]

In [7]:
users = users.drop_duplicates()

    idUser                userName
0        0               John Wick
1        1           Mike Wazowski
10       2             Leia Organa
11       3              Tony Stark
21       4            Ellen Ripley
30       5        J. Jonah Jameson
40       6  Danny Torrances Finger
41       7          Danny Torrance

In [9]:
users.to_json(r'./Output/users.json', orient='records')

In [20]:
connection = os.getenv("MONGOURL")

In [21]:
client = MongoClient(connection)

In [22]:
def connectCollection(database, collection):
    db = client[database]
    coll = db[collection]
    return db, coll

In [23]:
db, collu= connectCollection('apiproject','users')

In [24]:
with open('./Output/users.json') as f:
    users_json = json.load(f)
collu.insert_many(users_json)